.link{
    text-decoration: none;
    color: black;
}

.displayNone{
    display: none;
}

.notVisible{
    /* visibility: hidden; */
    display: none;
}

textarea{
    font-size: inherit;
    font-family: initial;
}

button{
    font-size: inherit;
}

input{
    font-size: inherit;
}