.link{
    text-decoration: none;
    color: black;
}

.boardListTitle, .boardListContents{
    min-width: 1000px;
    width: 100%;
    box-sizing: border-box;
    padding: 20px;
    border: 0px;
    background-color: #f5f5f5;

    font-size: 18pt;
    resize: none;
}

.boardListContents{
    min-height: 1000px;
}

.boardListLine{
    min-width: 1000px;
}
.fileListContainer{
    margin: 20px 0px;
}

.fileListPreviewImgContainer{
    display: inline-block;
}

.fileListPreviewImg{
    width: 200px;

    margin: 0px 10px;
}

.fileListPreviewFilename{
    font-size: 10pt;
    text-align: center;
}

.fileListDeleteButton{
    background-color: #ffffff;
}

.fileListDeleteButton:hover{
    background-color: red;
}

.displayNone{
    display: none;
}

.commentsTemplateContainer{
    box-sizing: border-box;
    border: 1px solid gray;
    padding: 40px;

    min-width: 1000px;
}

.commentsTemplateInputContainer{
    display: flex;
    justify-content: space-between;
}

.commentsTemplateInput{
    min-width: 650px;
    width: 90%;
    min-height: 80px;
    padding: 20px;

    resize: vertical;
}

.commentsTemplateButton{
    width: 122.13px;
    height: 122.13px;
    padding: 20px;
}

.commentsTemplateUListContainer{
    list-style-type: none;
    padding: 0px;
}

.commentsTemplateListContainer{
    display: flex;
    justify-content: space-between;
}

.commentsTemplateList{
    padding: 10px;
}

.commentsTemplateListDate{
    font-size: 10pt;
    color: gray;
}

.commentsTemplateListContents{
    resize: none;
    border: 0px;
    font-family: initial;
    font-size: initial;

    width: 100%;
    min-height: 50px;
    
}

.commentsTemplateListContents:focus{
    outline: none;
}

.commentsTemplateListChild{
    margin-left: 80px;
}

.commentsTemplateListInput{

}

.commentsTemplateListReplyInput{
    margin-left: 80px;
}

.notVisible{
    /* visibility: hidden; */
    display: none;
}

.commentsOptionButton{
    border: 0px;
    background-color: white;

    font-size: 20pt;
}