.fileListContainer{
    margin: 1.2rem 0px;
}

.fileListPreviewImgContainer{
    display: inline-block;
}

.fileListPreviewImg{
    width: 12rem;
    
    margin: 0px 0.8rem;
}

.fileListPreviewFilename{
    font-size: 0.8rem;
    text-align: center;
}

.fileListDeleteButton{
    background-color: #ffffff;
}

.fileListDeleteButton:hover{
    background-color: red;
}