.findUserInfoContainer{
    display: flex;
    flex-direction: column;

    /* justify-content: center; */
    align-items: center;

    font-size: 0.8rem;
}

.findUserInfoTop{
    margin-top: 3rem;
    margin-bottom: 2rem;
}
.findUserInfoBox{
    width: 25rem;
}

.findUserInfoBoxButton{
    width: 50%;
    padding: 1rem 3rem;

    border: 0px;
}
.findUserInfoBoxButtonSelector{
    color: rgb(114, 141, 156);
    border-bottom: 1px solid rgb(114, 141, 156);
}


.findUserInfoIdContainer, .findUserInfoPwContainer{
    display: flex;
    flex-direction: column;
}

.findUserInfoInput{
    width: 100%;
    padding: 1rem;
    box-sizing: border-box;

    margin: 2rem 0;
}