.homeContainer{
    padding: 0 8%;
}

.boardListTableContainer{
    table-layout: fixed;
    width: 100%;
    margin-top: 5em;
}

.boardTemplateBodyContainer{
    height: 80%;
}

.boardTemplateContainer{
    height: 16em;
}

.boardTemplateUsername{
    height: 10%;
    font-size: 0.8rem;
    text-overflow: ellipsis;
}

.boardTemplateBody{
    display: flex;
    justify-content: space-between;
}

.boardTemplateBodyL{
    width: 70%;
    overflow: hidden;
}

.boardTemplateTitle{
    font-weight: 400;
    font-size: 1rem;
    text-overflow: ellipsis;
}

.boardTemplateContents{
    overflow-wrap: break-word;
    overflow: hidden;

    padding: 1rem 0;
    box-sizing: border-box;

    font-size: 0.8rem;
}

.boardTemplateBodyR{
    width: 25%;
}

.boardTemplateImg{
    width: 100%;
    height: 10em;
    object-fit: cover;
}

.boardTemplateFooter{
    height: 10%;
}