.boardListTableContainer{
    width: 100%;
    margin-top: 80px;
}

.boardTemplateBodyContainer{
    padding: 10px 0px;
}

.boardTemplateContainer{
    height: 300px;
    padding: 30px;
}

.boardTemplateUsername{
    margin-bottom: 10px;
    font-size: 14pt;
    text-overflow: ellipsis;
}

.boardTemplateBody{
    display: flex;
    justify-content: space-between;
}

.boardTemplateTitle{
    font-weight: 400;
    font-size: 20pt;
    text-overflow: ellipsis;
    

}

.boardTemplateBodyR{

}
.boardTemplateImg{
    width: 250px;
    height: 250px;

    object-fit: cover;
}