.homeContainer{
    padding: 0px 40px;
}

.boardListTableContainer{
    table-layout: fixed;
    width: 100%;
    margin-top: 80px;
}

.boardTemplateBodyContainer{
    padding: 10px 0px;
}

.boardTemplateContainer{
    height: 300px;
    padding: 30px;
}

.boardTemplateUsername{
    margin-bottom: 10px;
    font-size: 14pt;
    text-overflow: ellipsis;
}

.boardTemplateBody{
    display: flex;
    justify-content: space-between;
}

.boardTemplateBodyL{
    width: 80%;
    height: 250px;
    overflow: hidden;
}

.boardTemplateTitle{
    font-weight: 400;
    font-size: 20pt;
    text-overflow: ellipsis;
}

.boardTemplateContents{
    overflow-wrap: break-word;
    height: 70%;

    margin: 20px 100px 0px 0px;
    overflow: hidden;
}

.boardTemplateImg{
    width: 250px;
    height: 250px;

    object-fit: cover;
}