.signinContainer{
    display: flex;
    justify-content: center;
    
    padding-top: 50px;
    padding-bottom: 50px;
}

.signinOuter{
    width: 420px;    
    margin: 20px 0 20px 0;
}

.inputOuterBox{
    margin-bottom: 16px;
}

.inputBox{
    width: 100%;
    padding: 18px;

    box-sizing: border-box;
}

.utilOuter{
    display: flex;
    justify-content: center;
}

.util{
    width: 100%;
}

.utilInner{
    display: inline-block;
    width: 100%;
    text-align: center;
}

.socialLoginImage{
    width: 45%;
    margin: 0px 10px;
}