.userBoardCreateUpdateContainer{
    margin: 30px 50px;
}

.toolbarContainer{
    display: flex;
    justify-content: space-between;

    margin: 20px 0px;
}

.inputImage{
    display: none;
}

.labelImage{
    border: 1px gray solid;
    border-radius: 5px;

    padding: 10px 20px;
    font-size: 10pt;
}

.postButton{
    border: 1px gray solid;
    border-radius: 5px;
    
    padding: 10px 50px;
    background-color: white;
}

.postButton:hover, .labelImage:hover{
    background-color: #c2c1c0;
}

.fileListContainer{
    margin: 20px 0px;
}

.previewImgContainer{
    display: inline-block;
}

.previewImg{
    width: 200px;

    margin: 0px 10px;
}

.previewFilename{
    font-size: 10pt;
    text-align: center;
}

.deleteButton{
    background-color: #ffffff;
}

.deleteButton:hover{
    background-color: red;
}

.title, .contents{
    width: 100%;
    box-sizing: border-box;
    padding: 20px;
    border: 0px;
    background-color: #f5f5f5;

    font-size: 18pt;
    resize: none;
}

.contents{
    min-height: 1000px;
    
}