.userSettingContainer{
    display: flex;
    justify-content: center;

    margin: 3rem 0;
    font-size: 0.8rem;
}

.userSettingBox{
    border: 1px gray solid;

    width: 60%;
    padding: 3rem;
    box-sizing: border-box;
}

.userSettingUl{
    list-style-type: none;
    padding: 0px;
}

.userSettingUl > li {
    margin: 1rem 0px;
}

.userSettingUl > li > input{
    width: 100%;
    padding: 1rem;

    box-sizing: border-box;
    margin-bottom: 0.5rem;
}

.userSettingBtn{
    width: 100%;
    padding: 1rem;

    margin-bottom: 0.5rem;
}

.userSettingBtn:hover{
    color: red;
}