.userBoardCreateUpdateContainer{
    margin: 30px 50px;
}

.toolbarContainer{
    display: flex;
    justify-content: space-between;

    margin: 20px 0px;
}

.inputImage{
    display: none;
}

.labelImage{
    border: 1px gray solid;
    border-radius: 5px;

    padding: 10px 20px;
    font-size: 10pt;
}

.postButton{
    border: 1px gray solid;
    border-radius: 5px;
    
    padding: 10px 50px;
    background-color: white;
}

.postButton:hover, .labelImage:hover{
    background-color: #c2c1c0;
}