.userBoardCreateUpdateContainer{
    margin: 2rem
}

.toolbarContainer{
    display: flex;
    justify-content: space-between;

    margin: 1.3rem 0px;
}

.toolbarLabelInput{
    display: none;
}

.toolbarLabel, .toolbarPostBtn{
    border: 1px gray solid;
    border-radius: 5px;

    padding: 1rem 1.5rem;
    font-size: 0.8rem;
    background-color: white;
}

.toolbarLabel:hover, .toolbarPostBtn:hover{
    background-color: #c2c1c0;
}