.previewImg{
    width: 300px;
}

.userBoardContainer{
    margin: 30px 50px;
}

.postToolbarContainer{
    height: 100px;
}

.postToolbarSettingBtnContainer{
    display: flex;
    justify-content: flex-end;
}

.postToolbarSettingBtn{
    height: 50px;
    font-size: 20pt;

    border: 0px;
    background-color: white;
}

.postToolbarSettingBtnOpen{
    text-align: right;

    margin-right: 13px;
    margin-bottom: 6px;
    font-size: 12pt;
}