.userHomeContainer{
    margin: 10% 5%;
    font-size: 1rem;
}

.boardCreateBtn{
    margin-bottom: 10%;
}

.boardListMiniContainer{
    width: 100%;
    font-size: 0.8rem;
}

.boardListMiniTitle{
    display: flex;
    justify-content:space-between;

    margin-bottom: 5%;
}

.boardListMini{
    width: 100%;
}

.boardListMiniTh{
    text-align: left;
    font-weight: 300;
    font-size: 0.65rem;
}

.boardListMiniThL, .boardListMiniTdL{
    text-align: left;
}

.boardListMiniThM, .boardListMiniTdM{
    text-align: center;
}

.boardListMiniThR, .boardListMiniTdR{
    text-align: right;
}


.boardListMiniBtn, .boardListMainBtn{
    display: inline-flex;
    align-items: center;
    justify-content: center;

    border: 1px black solid;
    width: 1.8rem;
    height: 1.8rem;
    padding: 2px 0px;
    margin: 1.1rem 0.2rem;

    font-size: 0.6rem;

    cursor: pointer;
}

.boardListMain{
    table-layout: fixed;
    width: 100%;
}

.boardListMainBtn{
   width: 2.5rem;
   height: 2.5rem;

   font-size: 0.8rem;
}

.boardListMiniBtnContainer, .boardListMainBtnContainer{
    text-align: center;
}

.boardListMainTdL, .boardListMainTdR{
    padding: 0;
    width: 5%;
}

.boardListMainTdUl{
    list-style: none;
    padding: 0;
}

.boardListMainTdLi{
    display: flex;
    margin: 6% 0;

    height: 13em;
}

.boardListMainTdImgWrapper{
    width: 30%;
}

.boardListMainTdImg{
    width: 100%;
    height: 13em;

    margin-right: 10%;

    object-fit: cover;
}

/* 이미지 오른쪽요소 */
.boardListMainTdLi > div{ 
    width: 70%;
    padding-left: 10%;
    padding-right: 8%;
    box-sizing: border-box;

    overflow: hidden;
}

.boardListMainTdTitle{
    text-overflow: ellipsis;

    height:10%;
}

.boardListMainTdContents{
    font-weight: 300;
    word-wrap: break-word;
    /* text-overflow: ellipsis; */
    height: 80%;
    padding: 1rem 0;
    box-sizing: border-box;

    overflow: hidden;
    font-size: 0.7rem;
}

.boardListMainTdReaction{
    height: 10%;
    display: flex;
    align-items: center;
}