.userBoardContainer{
    margin: 2% 5%;
}

.postToolbarContainer{
    height: 6rem;
}

.postToolbarSettingBtnContainer, .postToolbarSettingBtnLinkContainer{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.postToolbarSettingBtn{
    font-size: 1.5rem;

    border: 0px;
    background-color: white;
}

.postToolbarSettingBtnLink{
    font-size: 0.8rem;
    padding: 4px 10px;
}

.boardOption{
    font-size: 0.7rem;

    margin: 2.5rem 0px 1.2rem 0px;
}

.boardOptionL{
    margin-right: 2rem;
}